@use "@/styles/sass/abstracts/" as *;

:root {
  --fc-small-font-size: 0.85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: $text-primary;
  --fc-button-bg-color: transparent;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: transparent;
  --fc-button-hover-border-color: transparent;
  --fc-button-active-bg-color: transparent;
  --fc-button-active-border-color: transparent;

  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}

.calendar-body {
  .fc-theme-standard .fc-scrollgrid {
    border: none;
  }

  colgroup > col {
    width: 80px !important;
    @include lg-down {
      width: 70px !important;
    }
  }

  .fc {
    &.fc-direction-ltr {
      direction: unset;
      text-align: start;
      .fc-timegrid-slot-label-frame {
        text-align: end;
      }
    }

    .fc-scroller-harness {
      direction: unset;
    }

    .fc-multimonth-daygrid {
      background: $color-white;
    }

    .fc-multimonth-singlecol .fc-multimonth-header {
      background: transparent !important;
    }

    .fc-toolbar {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 15px;
    }

    .fc-header-toolbar {
      padding: 15px 20px;
      border-bottom: 1px solid $border-primary;
      background-color: $color-white;
      margin-bottom: 0;
      position: -webkit-sticky;
      position: sticky;
      inset-block-start: 0;
      inset-inline: 0;
      z-index: 5;
      .fc-toolbar-chunk {
        &:is(:first-child) {
          > div {
            @include flex($align: center, $gap: 10px);
            [dir="rtl"] & {
              -webkit-box-orient: horizontal;
              -webkit-box-direction: reverse;
                  -ms-flex-direction: row-reverse;
                      flex-direction: row-reverse;
            }
          }
        }

        .fc-prev-button,
        .fc-next-button {
          @include square(34px, $radius-rounded);
          @include item-center;
          padding: 0 !important;
          line-height: 1;
          background-color: transparent;
          .fc-icon {
            font-size: 20px;
          }
        }

        .fc-toolbar-title {
          font-size: 16px;
        }

        .fc-button-primary {
          line-height: 1.2;
          border-radius: $radius-8 !important;
          padding: 5px 15px 5px;
          color: $text-primary;
          text-transform: capitalize;
          &:is(.fc-next-button, .fc-prev-button) {
            padding: 2px;
          }
          &:is(.fc-customButton-button) {
            padding: 8px 15px 10px;
          }
          &:is(.fc-button-active, .fc-addEvent-button) {
            background-color: $color-primary !important;
            color: $color-primary-text !important;
            font-size: 14px;
          }
          &:is(.fc-today-button) {
            padding: 8px 15px 10px;
            border: 1px solid $color-dark !important;
            color: $text-primary !important;
            cursor: pointer;
            -webkit-margin-end: 10px;
                    margin-inline-end: 10px;
            &:hover {
              background-color: $color-dark !important;
              color: $text-light !important;
              border-color: $color-dark !important;
              opacity: 1 !important;
            }
          }
          &:focus {
            -webkit-box-shadow: unset !important;
                    box-shadow: unset !important;
          }
        }
      }
    }
    .fc-multimonth {
      border: none;
    }
    .fc-col-header-cell-cushion {
      color: $text-primary !important;
    }

    .fc-timeGridWeek-view {
      .fc-scrollgrid-section-body td,
      .fc-scrollgrid-section-body th {
        border-color: $border-primary !important;
        &:not(.fc-timegrid-divider) {
          height: 80px !important;
        }
      }

      .fc-scrollgrid-section-header {
        .fc-col-header-cell {
          height: 50px !important;
          line-height: 50px !important;
        }
      }
    }

    .fc-daygrid-event {
      margin-inline: 5px !important;
      -webkit-margin-before: 5px !important;
              margin-block-start: 5px !important;
      border-radius: $radius-8;
    }

    .fc-col-header-cell.fc-day-today {
      background-color: $color-primary-light !important;
    }
    .fc-day-today {
      background-color: transparent;
    }

    .fc-daygrid-day {
      .fc-event-main {
        min-height: 78px;
        height: 100%;
        padding: 5px;
      }
      .event-card {
        min-height: 78px;
        width: 100%;
      }
    }

    .fc-timegrid-body {
      .fc-timegrid-slot {
        height: 78px;
      }
      .fc-event-main {
        padding: 5px;
      }
      .fc-timegrid-event {
        margin: 5px;
      }
    }

    .fc-v-event {
      background-color: $color-primary-light;
      border-color: $color-primary;
      display: block;
    }

    .event-card {
      height: 100%;
      position: relative;
      .event-title {
        font-size: 14px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      .event-time {
        font-size: 12px;
        color: $text-secondary;
      }

      .event-action {
        position: absolute;
        inset-inline-end: 0;
        inset-block-end: 0;
        @include flex($align: center, $gap: 5px);
        .icon-btn.btn-sm {
          @include square(28px);
          font-size: 14px;
        }
      }
    }

    .fc-daygrid-dot-event {
      background-color: $color-primary;
      padding: 5px;
    }
  }

  .fc-timegrid-event,
  .fc-timegrid-more-link {
    border-radius: $radius-8;
  }

  .fc-h-event {
    background-color: $color-primary;
    .fc-event-main {
      color: $color-primary-text;
      padding-inline: 10px;
      font-size: 14px;
    }
  }

  .fc-theme-standard td,
  .fc-theme-standard th {
    border-color: $border-primary !important;
  }
  .fc-timegrid-event-harness-inset .fc-timegrid-event,
  .fc-timegrid-event.fc-event-mirror,
  .fc-timegrid-more-link {
    -webkit-box-shadow: 0 0 0 1px #ffffff00;
            box-shadow: 0 0 0 1px #ffffff00;
  }

  // td[role="gridcell"],
  // th[role="columnheader"] {
  //   width: 120px;
  // }
}
