@use "../../../styles/sass/abstracts/" as *;

.pagination-wrapper {
  @include flex(
    $align: center,
    $justify: space-between,
    $gap: 20px,
    $wrap: wrap
  );
  @include md-down {
    gap: 15px;
  }
  .pagination-links {
    @include flex($align: center, $gap: 5px);
    .pagination-link {
      @include square(36px, $radius-rounded);
      @include item-center;
      color: $text-secondary;
      font-weight: 500;
      border: 1px solid transparent;
      line-height: 1;
      -webkit-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      &:hover {
        border-color: $color-primary;
        color: $color-primary;
      }
      &.active {
        border-color: $color-primary;
        color: $color-primary;
      }

      @include md-down {
        @include square(32px, $radius-rounded);
        font-size: 14px;
      }
    }
  }
}
