
@use "@/styles/sass/abstracts/" as *;

.quick-action{
    // background-color: $light-bg;
    .quick-action-btn{
        &:hover{
            .quick-action-icon{
                background-color: $color-primary;
                color: $color-primary-text;
            }
            .quick-action-btn-level{
                color: $color-primary;
                font-weight: 500;
            }

        }
        .quick-action-icon{
            @include square($size:40px,$radius:$radius-rounded);
            @include item-center();
            background-color: $color-primary-light;
            font-size: 18px;
            transition: 0.3s all ease-in-out;
        }
        .quick-action-btn-level{
            color: $text-primary;
            font-weight: 400;
            font-size: 14px;
            transition: 0.3s all ease-in-out;
        }
    }
}