@use "../abstracts/" as *;

.accordion-wrapper {
  .accordion-item {
    & {
      border: none;
      border-radius: 0 !important;
      overflow: hidden;
      background-color: transparent;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $border-primary;
    }
    .accordion-button {
      font-weight: 600;
      font-size: 24px;
      background: transparent;
      color: $text-primary;
      font-family: $font-primary;
      padding-block: 25px;
      padding-inline: 25px;
      position: relative;
      line-height: 1.6;
      @include flex($align: center, $justify: space-between);
      width: 100%;
      .accordion-icon {
        font-size: 22px;
      }

      @include lg-down {
        -webkit-padding-end: 10px;
                padding-inline-end: 10px;
      }
      @include md-down {
        padding-block: 12px;
        -webkit-padding-end: 10px;
                padding-inline-end: 10px;
        -webkit-padding-start: 20px;
                padding-inline-start: 20px;
      }

      @include sm-down {
        font-size: 18px;
      }

      &:focus {
        z-index: unset;
        border-color: unset;
        outline: 0;
        background: transparent;
        -webkit-box-shadow: unset;
                box-shadow: unset;
        color: $text-primary;
      }

      &::before {
        content: "";
        position: absolute;
        @include square(10px, $radius-rounded);
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        background-color: $color-primary;
      }

      &::after {
        display: none;
      }

      &:not(.collapsed) {
        -webkit-box-shadow: unset;
                box-shadow: unset;
      }
    }
    .accordion-body {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      text-align: left;
      padding-inline: 25px;
      padding-block: 0 25px;
      background: transparent;
      color: #878c91;
      @include md-down {
        padding-inline: 20px;
        font-size: 15px;
        padding-block: 0 15px;
      }
    }
  }

  &:is(.template-accordion) {
    .accordion-item {
      .accordion-button {
        -webkit-padding-start: 0;
                padding-inline-start: 0;
        @include xl-down {
          padding-block: 20px;
          font-size: 20px;
        }
        &::after {
          content: "\F282";
          inset-inline-end: 0;
          font-size: 18px;
          line-height: 18px;
          @include xl-down {
            font-size: 16px;
          }
        }
        &:not(.collapsed)::after {
          content: "\F282";
          rotate: 180deg;
        }
      }
      .accordion-body {
        padding-inline: 0;
        font-size: 20px;
        color: $text-secondary;
        @include xl-down {
          font-size: 16px;
        }
      }
      // &:is(:first-child) {
      //   .accordion-button {
      //     padding-block-start: 0;
      //   }
      // }

      // &:is(:last-child) {
      //   .accordion-button {
      //     padding-block-end: 0;
      //   }
      // }
    }
  }
}
