@use "../abstracts/" as *;

.form-inner {
  .form-label {
    font-size: 14px;
    font-weight: 400;
    color: $text-primary;
    text-transform: capitalize;
    line-height: 1;
  }

  .form-control,
  .form-select {
    background-color: transparent;
    font-size: 14px;
    color: $text-primary;
    height: 48px;
    border-radius: $radius-12;
    border-color: $border-primary !important;
    &:focus {
      border-color: $color-primary !important;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    &::-webkit-input-placeholder {
      color: $text-placeholder;
    }
    &::-moz-placeholder {
      color: $text-placeholder;
    }
    &:-ms-input-placeholder {
      color: $text-placeholder;
    }
    &::-ms-input-placeholder {
      color: $text-placeholder;
    }
    &::placeholder {
      color: $text-placeholder;
    }
    &:disabled{
      background-color: $light-bg !important;
    }

    &.input-color{
      width: 50px;
      padding: .375rem 0.20rem;
    }

  }

  .form-control{
    &:read-only{
      background-color: $light-bg !important;
    }
  }
  textarea.form-control{
    height: unset;
  }

  .form-control[type="file"] {
    padding-inline: 12px;
    padding-block: 0;
  }

  .form-select {
    cursor: pointer;
    -webkit-padding-end: 40px;
    padding-inline-end: 40px;
    background-color: $site-bg;
    > option {
      background-color: transparent;
    }
  }

  .form-check-input {
    border-color: $border-primary;
    &:checked {
      background-color: $color-primary;
      border-color: $color-primary;
    }
    &:focus {
      border-color: $color-primary;
      outline: 0;
      -webkit-box-shadow: 0 0 0 0.25rem $color-primary-soft;
      box-shadow: 0 0 0 0.25rem $color-primary-soft;
    }
  }

  .field-with-icon {
    position: relative;
    .field-icon {
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 12px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 18px;
    }
    .form-control {
      text-indent: 30px;
    }
  }
}

.form-switch {
  cursor: pointer;
  .form-check-input {
    width: 3em;
    -webkit-margin-end: -3.5em;
    margin-inline-end: -3.5em;
    &:focus{
      box-shadow: none !important;
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
  border-color: $border-primary !important;
  padding: 10px;
  accent-color: $color-primary;
  width: 17px;
  height: 17px;
  border-radius: $radius-8;
  cursor: pointer;
}

.file-input-wrapper {
  @include flex($align:start,$direction:column,$justify:center);
  position: relative !important;

  input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
  .file-input {
    border: 1px dashed $color-primary;
    border-radius: $radius-8;
    width: 100%;
    @include flex($align:center,$justify:center,$wrap:wrap,$gap:20px);
    padding: 15px;
    background-color: $site-bg;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    > svg {
      color: $color-primary;
    }
  
    span {
      display: inline-block;
      font-size: 12px;
      color: $text-secondary;
    }

    p {
     font-size: 14px;
     color: $text-primary;
   }
  }
  
}

.input-group-select{
  border: none;
  background-color: $light-bg !important;
}

.input-clearable-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .clear-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .clear-btn svg {
    color: #333; /* Adjust color as needed */
  }

  input {
    padding-right: 30px; /* Add space for the clear button */
  }
}

.switch-wrapper {
  @include flex($align: center, $gap: 20px, $justify: space-between);
  border: 1px solid $border-primary;
  border-radius: $radius-12;
  padding-inline: 15px 25px;
  height: 48px;
  cursor: pointer;
}

.form-element {
  padding-block: 30px;
  -webkit-border-after: 1px solid $border-primary;
  border-block-end: 1px solid $border-primary;
  &:is(:first-child) {
    -webkit-padding-before: 0;
            padding-block-start: 0;
  }
}


.date-range-wrapper{
  width: 240px;
  .react-datepicker-wrapper{
    width: 100%;
  }
}
.date-date-wrapper{
  .react-datepicker-wrapper{
    width: 100%;
  }
}

