@use "../../../styles/sass/abstracts/" as *;

.quill{
    height: 160px;
    position: relative;
    z-index: 1;

    .ql-toolbar{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        border-top: unset;
        border-radius: 0px 0px 8px 8px;
        background-color: $site-bg;
    }
    .ql-container{
        border-top: 1px solid $border-secondary !important;
        border-radius: 8px;
    }
}

.ql-snow .ql-tooltip{
    left: 0 !important;
}
.ql-toolbar.ql-snow .ql-formats {
    margin-right: 20px;
}