@use "@/styles/sass/abstracts/" as *;

.preloader-wrapper {
  height: 100dvh;
  width: 100%;
  background-color: #ffffff2c;
  position: relative;
  @include item-center;
  .progress-loader {
    position: absolute;
    inset-block-start: 0;
    inset-inline: 0;
    height: 5px;
    width: 100%;
    background-color: $color-primary;
  }
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  // Preloader container
  .preloader {
    $white: #ffffff;
    $blue-100: #dbeafe;
    $blue-500: #3b82f6;
    $blue-600: #2563eb;
    $gray-500: #6b7280;
    $gray-800: #1f2937;
    min-height: 100vh;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  
    // Inner container
    .preloader-inner {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 1.5rem; 
  
      // Logo container
      .logo-container {
        display: flex;
        justify-content: center;
  
        .logo-wrapper {
          padding: 1rem; 
          background-color: $blue-100;
          border-radius: 9999px; 
          width:100px; 
          height: 100px; 

          .logo-icon {
            color: $blue-600;
            animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite; 
            font-size: 60px;
          }
        }
      }
  
      // App name
      .app-name {
        font-size: 1.5rem; 
        font-weight: 600; 
        color: $gray-800;
      }
  
      // Loading animation
      .loading-dots {
        display: flex;
        justify-content: center;
        gap: 0.5rem; 
  
        .loading-dot {
          width: 0.75rem; 
          height: 0.75rem; 
          background-color: $blue-500;
          border-radius: 9999px; 
          animation: bounce 1.4s ease-in-out infinite;
  
          &.delay-100 {
            animation-delay: 0.1s;
          }
  
          &.delay-200 {
            animation-delay: 0.2s; 
          }
        }
      }
  
      // Loading text
      .loading-text {
        color: $gray-500;
        font-size: 0.875rem;
      }
    }
  }
}


// Keyframes for animations