@use "@/styles/sass/abstracts/" as *;

.modal {
  .modal-content {
    border-color: $border-primary;
    border-radius: $radius-20;
    background-color: $card-bg;
    @include md-down {
      border-radius: $radius-12;
    }
    .modal-header {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 20px;
      -webkit-padding-after: 0;
              padding-block-end: 0;
      border: none;
      @include md {
        padding: 20px;
        -webkit-padding-after: 0;
                padding-block-end: 0;
      }
      @include md-down {
        padding: 15px;
        -webkit-padding-after: 0;
                padding-block-end: 0;
      }
      .modal-title {
        color: $text-primary;
        font-weight: 600;
        font-size: 18px;
      }
    }

    .modal-body {
      scroll-padding: 25px;
      padding: 20px;
      @include md {
        padding: 20px;
      }
      @include md-down {
        padding: 15px;
      }
      .modal-custom-footer{
        @include flex($align:center,$justify:end,$gap:10px);
        background-color: $card-bg;
        border-block-start: 1px solid $border-secondary;
        position: sticky;
        width: 100%;
        inset-inline: 0;
        z-index: 1;
        inset-block-end: -20px;
        padding-block: 15px;
        margin-inline: -5px;
        margin-block: -15px;
      }
    }

    .modal-footer {
      padding-inline: 20px;
      -webkit-padding-before: 0;
              padding-block-start: 0;
      border: none;
      @include md {
        padding-inline: 20px;
      }
      @include md-down {
        padding-inline: 15px;
      }
    }
  }
}
