@use "@/styles/sass/abstracts/" as *;

header.style-1 {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 25px;
  border-bottom: 1px solid $border-primary;
  height: 80px;
  @include xl {
    padding-inline: 25px;
  }
  @include xl-down {
   padding-inline: 25px;
  }
  @include md-down {
    padding-inline: 15px;
  }
}

header.style-1.sticky .topbar-area {
  display: none !important;
  visibility: hidden !important;
}

header.style-1 .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;

  @include md-down {
    gap: 15px;
  }
}

header.style-1 .header-left .header-logo {
  position: relative;
  z-index: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  header.style-1 .header-left .header-logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

header.style-1 .header-left .header-logo img {
  width: 100%;
  max-width: 130px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  header.style-1 .header-left .header-logo img {
    max-width: 120px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header.style-1 .header-left .header-logo img {
    max-width: 110px;
  }
}

header.style-1 .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;

  @include md-down {
    gap: 15px;
  }
}

header.style-1 .sidebar-btn i {
  font-size: 28px;
  color: var(--text-primary);
}

header.style-1 .mobile-logo-area .mobile-logo-wrap {
  max-width: 120px;
}

header.style-1 .main-nav {
  display: inline-block;
}

header.style-1 .main-nav .mobile-menu-logo {
  display: none;
}

header.style-1 .main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $light-bg;
  border-radius: 50px;
}

header.style-1 .main-nav ul > li {
  display: inline-block;
  position: relative;
  padding: 0px 5px;
}

header.style-1 .main-nav ul > li a {
  font-size: 16px;
  color: var(--text-primary);
  font-weight: 600;
  display: block;
  text-transform: capitalize;
  padding: 12px 20px;
  border-radius: 50px;
  position: relative;
  -webkit-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  text-decoration: none;
}

header.style-1 .main-nav ul > li a:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: $color-white;
}

header.style-1 .main-nav ul > li a.active {
  background-color: $text-primary;
  color: $site-bg;
}

header.style-1 .main-nav ul > li i {
  width: 20px;
  font-size: 12px;
  text-align: center;
  color: var(--text-primary);
  font-style: normal;
  position: absolute;
  right: -6px;
  top: 31px;
  z-index: 999;
  cursor: pointer;
  display: none;
}

header.style-1 .main-nav ul > li ul.sub-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  min-width: 215px;
  background: var(--color-white);
  text-align: left;
  -webkit-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  padding: 8px;
  z-index: 1;
  -webkit-box-shadow: 0 3px 15px rgba(29, 38, 38, 0.09);
          box-shadow: 0 3px 15px rgba(29, 38, 38, 0.09);
}

header.style-1 .main-nav ul > li ul.sub-menu.mega-menu {
  width: 100%;
  max-width: 1040px;
  min-width: 1040px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  left: -300px;
  padding: 20px 20px 35px 20px;
}

@media (max-width: 1199px) {
  header.style-1 .main-nav ul > li ul.sub-menu.mega-menu {
    min-width: 0;
    padding: 0;
  }
}

header.style-1 .main-nav ul > li ul.sub-menu.mega-menu > li {
  width: 25%;
}

@media (max-width: 1199px) {
  header.style-1 .main-nav ul > li ul.sub-menu.mega-menu > li {
    width: 100%;
  }
}

header.style-1 .main-nav ul > li ul.sub-menu.mega-menu .mega-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  header.style-1 .main-nav ul > li ul.sub-menu.mega-menu .mega-submenu {
    margin-top: 0;
    padding: 0 0 15px 0;
  }
}

header.style-1 .main-nav ul > li ul.sub-menu.mega-menu .mega-submenu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  header.style-1 .main-nav ul > li ul.sub-menu.mega-menu .mega-submenu li {
    margin-bottom: 15px;
  }
}

header.style-1
  .main-nav
  ul
  > li
  ul.sub-menu.mega-menu
  .mega-submenu
  li:last-child {
  margin-bottom: 0;
}

header.style-1 .main-nav ul > li ul.sub-menu.mega-menu .mega-submenu li img {
  max-width: 35px;
}

@media (max-width: 1199px) {
  header.style-1 .main-nav ul > li ul.sub-menu.mega-menu .mega-submenu li img {
    max-width: 22px;
  }
}

header.style-1
  .main-nav
  ul
  > li
  ul.sub-menu.mega-menu
  .mega-submenu
  li
  .content
  h6 {
  font-size: 14px;
  color: var(--text-primary);
}

header.style-1
  .main-nav
  ul
  > li
  ul.sub-menu.mega-menu
  .mega-submenu
  li
  .content
  p {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--text-secondary);
}

header.style-1 .main-nav ul > li ul.sub-menu > li {
  padding: 0 10px;
  padding: 0;
  display: block;
  position: relative;
}

header.style-1 .main-nav ul > li ul.sub-menu > li i {
  position: absolute;
  top: 10px;
  right: 6px;
  display: block;
}

header.style-1 .main-nav ul > li ul.sub-menu > li a {
  display: block;
  padding: 13px 15px;
  color: var(--text-primary);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

header.style-1 .main-nav ul > li ul.sub-menu > li a:hover {
  color: var(--color-primary);
}

header.style-1 .main-nav ul > li ul.sub-menu > li a.active {
  color: var(--color-primary);
}

header.style-1 .main-nav ul > li ul.sub-menu > li .sub-menu {
  left: 215px;
  position: absolute;
  max-width: 230px;
  min-width: 215px;
  background: var(--color-white);
  top: 0;
  -webkit-box-shadow: 0 3px 15px rgba(29, 38, 38, 0.09);
          box-shadow: 0 3px 15px rgba(29, 38, 38, 0.09);
}

@media only screen and (max-width: 1199px) {
  header.style-1 .main-nav ul > li ul.sub-menu > li .sub-menu {
    margin-left: 10px;
    position: unset;
    max-width: 230px;
    min-width: 215px;
    background: rgba(0, 0, 0, 0);
    top: 0;
  }
}

header.style-1 .main-nav ul > li ul.sub-menu > li .sub-menu li i {
  display: block;
}

header.style-1 .main-nav ul > li ul.sub-menu > li:last-child {
  border-bottom: none;
}

header.style-1 .main-nav ul > li:hover > ul.sub-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

header.style-1 .main-nav ul li.menu-item-has-children > i {
  display: block;
}

@media only screen and (max-width: 1199px) {
  header.style-1 .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    padding: 30px 20px !important;
    z-index: 99999;
    height: 100%;
    overflow: auto;
    background: var(--color-white);
    border-right: 1px solid $border-primary;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }

  header.style-1 .main-nav.show-menu {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  header.style-1 .main-nav .mobile-menu-logo {
    text-align: left;
    padding-top: 20px;
    display: block;
    padding-bottom: 8px;
  }

  header.style-1 .main-nav ul {
    float: none;
    text-align: left;
    padding: 10px;
    border-radius: 16px;
    margin-top: 30px;
  }

  header.style-1 .main-nav ul li {
    display: block;
    position: relative;
    padding: 5px 5px;
    text-align: center;
  }

  header.style-1 .main-nav ul li i {
    display: block;
  }

  header.style-1 .main-nav ul li a {
    padding: 8px 0;
    display: block;
    font-weight: 500;
  }

  header.style-1 .main-nav ul li ul.sub-menu {
    position: static;
    min-width: 200px;
    background: 0 0;
    border: none;
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    display: none;
    margin-top: 0 !important;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    padding: 0;
  }

  header.style-1 .main-nav ul li ul.sub-menu::after {
    content: none;
  }

  header.style-1 .main-nav ul li ul.sub-menu.mege-manu {
    padding: 0 !important;
  }

  header.style-1 .main-nav ul li .bi {
    top: 12px;
    font-size: 15px;
    font-weight: 500;
  }

  header.style-1 .mobile-menu {
    position: relative;
    top: 2px;
    padding: 0 5px;
    border-radius: 50%;
    display: inline-block;
  }

  header.style-1 .cross-btn {
    display: inline-block !important;
    position: relative;
    width: 30px !important;
    height: 22px !important;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0) !important;
  }

  header.style-1 .cross-btn span {
    width: 100%;
    height: 2px;
    background: var(--primary-color1);
    display: block;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  header.style-1 .cross-btn .cross-top {
    top: 0;
  }

  header.style-1 .cross-btn .cross-middle {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
  }

  header.style-1 .cross-btn .cross-bottom {
    bottom: 0;
    width: 100%;
  }

  header.style-1 .cross-btn.h-active span.cross-top {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
    margin-top: -1px;
  }

  header.style-1 .cross-btn.h-active span.cross-middle {
    -webkit-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
            transform: translateX(-30px);
    opacity: 0;
  }

  header.style-1 .cross-btn.h-active span.cross-bottom {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
}

.header-action {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $light-bg;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  line-height: 1;
  cursor: pointer;
  font-size: 20px;
  @include md-down {
    font-size: 16px;
    width: 36px;
    min-width: 36px;
    height: 36px;
  }
  &:hover {
    background-color: $color-primary;
    svg {
      fill: $color-white;
    }
  }
}

.transparent-dropdown {
  background-color: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 0;
  &::after {
    display: none;
  }
}

.user-toggle {
  .image {
    min-width: 50px;
    max-width: 50px;
    height: 50px;

    @include md-down {
      min-width: 36px;
      max-width: 36px;
      height: 36px;
    }
  }
  .content {
    span {
      display: inline-block;
      font-size: 14px;
      color: $text-ternary;
      line-height: 1;
    }
  }
}

.dropdown-menu {
  border: 1px solid $border-primary;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.077);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.077);
  li {
    padding: 15px 18px;
    font-size: 14px;
    border-bottom: 1px solid $border-primary;

    &:last-child {
      border-bottom: none;
    }
  }
}

.dropdown--profile{
  min-width: 14rem;
  li{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4px;
    span {
      display: inline-block;
      line-height: 1.3;
    }
  }
}
