@use "./mixins/index" as *;
@forward "typography";

:root {
  color-scheme: light;
  // Font family
  --font-primary: "Lato", sans-serif;
  // Theme base color start

  // Color primary
  --color-primary: #106aeb;
  --color-primary-soft: #f3f8ff;
  --color-primary-light: #106beb23;
  --color-primary-text: #fdfeff;

  // Color secondary
  --color-secondary: #ffa360;
  --color-secondary-soft: #eefffe;
  --color-secondary-text: #192227;

  // Color success
  --color-success: #009320;
  --color-success-light: rgba(0, 147, 32, 0.15);

  // Color danger
  --color-danger: #eb5757;
  --color-danger-light: rgba(255, 37, 37, 0.15);

  // Color warning
  --color-warning: #f0be4c;
  --color-warning-light: rgba(247, 184, 75, 0.2);

  // Color info
  --color-info: #299cdb;
  --color-info-light: rgba(84, 160, 254, 0.2);

  // Color dark
  --color-dark: #222325;
  --color-dark-light: rgb(21, 33, 48, 0.1);

  // Base text color
  --text-primary: #0a0a0b;
  --text-secondary: #4f4f4f;
  --text-ternary: #47546ccc;
  --text-light: #fdfbff;
  --text-placeholder: #b3b3b3;

  // Border color
  --border-primary: #e7e7e7;
  --border-secondary: #ddd;
  --border-ternary: #2f2f30;

  --bs-border-color: var(--border-primary) !important;

  // Base Layout color
  --site-bg: #ffffff;
  --card-bg: #ffffff;
  --topbar-bg: #fff;
  --sidebar-bg: #fff;
  --footer-bg: #121212;
  --light-bg: #f8f8f8;
  --color-white: #fff;

  // Base Border radius
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-28: 28px;
  --radius-32: 32px;
  --radius-36: 36px;
  --radius-pill: calc(infinity * 1px);
  --radius-rounded: 50%;

  --header-h:80px;
  @include xxl-down {
    --header-h:70px; 
  }
  @include md-down {
    --header-h:60px; 
  }
}

[data-bs-theme="dark"] {
  color-scheme: dark;

  --color-primary-light: #15253a;
  --site-bg: #050505;

  --text-primary: #ffffff;
  --text-secondary: #d1d1d1;
  --text-ternary: #7a7a7a;
  --text-light: #fdfbff;
  --text-placeholder: #b3b3b3;

  --card-bg: #171717;
  --border-primary: #282828;
  --border-secondary: #464646;

  --light-bg: #222222;
  --color-white: #000;
  --sidebar-bg: #1a1a1a;
  --color-dark-light: #292929;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --site-bg: #050505;
    --text-color: #ffffff;
    --card-bg: #171717;
    --border-primary: #282828;
    --border-secondary: #464646;
    --text-primary: #ffffff;
    --text-secondary: #eeeeee;
    --text-ternary: #eeeeee;
    --light-bg: #222222;
    --color-white: #000;
    --sidebar-bg: #1a1a1a;
  }
}

// SASS ROOT VARIABLES
$font-primary: var(--font-primary);

// Theme base color start
$color-primary: var(--color-primary);
$color-primary-soft: var(--color-primary-soft);
$color-primary-light: var(--color-primary-light);
$color-primary-text: var(--color-primary-text);
$color-gradient: var(--color-gradient);

$color-secondary: var(--color-secondary);
$color-secondary-soft: var(--color-secondary-soft);
$color-secondary-text: var(--color-secondary-text);

$color-success: var(--color-success);
$color-success-light: var(--color-success-light);

$color-danger: var(--color-danger);
$color-danger-light: var(--color-danger-light);

$color-warning: var(--color-warning);
$color-warning-light: var(--color-warning-light);

$color-info: var(--color-info);
$color-info-light: var(--color-info-light);

$color-dark: var(--color-dark);
$color-dark-light: var(--color-dark-light);

// Base text color
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-ternary: var(--text-ternary);
$text-light: var(--text-light);
$text-placeholder: var(--text-placeholder);

// Border color
$border-primary: var(--border-primary);
$border-secondary: var(--border-secondary);
$border-ternary: var(--border-ternary);

$color-gray-100: var(--color-gray-100);
$color-gray-200: var(--color-gray-200);
$color-gray-300: var(--color-gray-300);
$color-gray-500: var(--color-gray-500);
$color-white: var(--color-white);

// Layout background
$site-bg: var(--site-bg);
$card-bg: var(--card-bg);
$topbar-bg: var(--topbar-bg);
$sidebar-bg: var(--sidebar-bg);
$footer-bg: var(--footer-bg);
$light-bg: var(--light-bg);

// Radius
$radius-4: var(--radius-4);
$radius-8: var(--radius-8);
$radius-12: var(--radius-12);
$radius-16: var(--radius-16);
$radius-20: var(--radius-20);
$radius-24: var(--radius-24);
$radius-28: var(--radius-28);
$radius-32: var(--radius-32);
$radius-36: var(--radius-36);
$radius-pill: var(--radius-pill);
$radius-rounded: var(--radius-rounded);

$header-h:var(--header-h);
