@use "@/styles/sass/abstracts" as *;

.tesimonial-item{
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    border-radius: $radius-20;
    min-height: 100vh;

    .testi-bg{
        width: 100% !important;
        min-height: 100vh !important;
        -o-object-fit: cover;
           object-fit: cover;
    }

    .content{
        position: absolute;
        padding: 30px 30px 90px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        width: 90%;
        height: 100%;
        margin-left: 0;
        margin-right: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        h3{
            font-size: 30px;
            color: $color-white;
            font-weight: 500;
            margin-bottom: 25px;
        }

        .meta{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            p{
                margin-bottom: 0;
                font-size: 18px;
                color: $color-white;
                font-weight: 500;
            }
        }
    }
}